<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-left-sect">
      <a href="/">
        <img class="footer-ba-icon" src="/assets/images/kun.webp" alt="Kusten Contractors logo">
      </a>
      <p>Follow us On</p>
      <div class="footer-social-icons">
        <a href="https://www.facebook.com/profile.php?id=61585583732301" target="_blank" aria-label="Facebook">
          <i class="bi bi-facebook" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <i class="bi bi-twitter-x" aria-hidden="true"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://www.tiktok.com/@eng.kusten" target="_blank" aria-label="Tiktok">
          <i class="bi bi-tiktok" aria-hidden="true"></i>
          <span class="sr-only">Tiktok</span>
        </a>
      </div>
    </div>
    <div class="footer-middle-sect">
      <p>Explore</p>
      <div class="explore-item">
        <a href="/about"><i class="bi bi-check2-circle"></i>About Us</a>
      </div>
      <div class="explore-item">
        <a href="#services"><i class="bi bi-check2-circle"></i>Our Services</a>
      </div>
      <div class="explore-item">
        <a href="/projects"><i class="bi bi-check2-circle"></i>Ongoing Projects</a>
      </div>
      <div class="explore-item">
        <a href="/contact"><i class="bi bi-check2-circle"></i>Contact</a>
      </div>
    </div>
    <div class="footer-right-sect">
      <p class="contact-sect">Contact Us</p>
      <div class="contact-sub-sect">
        <a href="https://maps.app.goo.gl/opJE4YeARcHjbZqJ7" target="_blank">
          <i class="bi bi-geo-alt-fill"></i>
          <span>Mountain View Mall, Waiyaki Way</span>
        </a>
      </div>
      <div class="phone-options">
        <a href="tel:+254713917701" aria-label="Call +254 713 917 701" class="phone-link">
          <i class="bi bi-telephone-fill"></i>
          <span>+254 713 917 701</span>
        </a>
      </div>
      <div class="footer-email">
        <a href="mailto:briankusten98@gmail.com" class="email-link">
          <i class="bi bi-envelope-fill"></i>
          <span>briankusten98@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
  <div class="design-author">
    © 2026 <a href="/">Kusten Contractors</a> | Built by Cepauls
  </div>
</footer>