<header>
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <img class="footer-ba-icon" src="/assets/images/kun.webp" alt="Kusten Contractors logo">
      </a>
    </div>
    <div class="company-name-mobile">KUSTEN CONTRACTORS</div>
    <div class="hamburger" aria-label="Menu" role="button" tabindex="0">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="nav-menu">
      <li class="nav-item"><a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">HOME</a></li>
      <li class="nav-item">
        <a href="#" class="nav-link">ABOUT US</a>
        <div class="dropdown">
          <div class="dropdown-item">
            <a href="/about" class="dropdown-link"><i class="bi bi-chevron-right"></i>Our Profile</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">OUR SERVICES</a>
        <div class="dropdown">
          <div class="dropdown-item">
            <a href="#service-01" class="dropdown-link"><i class="bi bi-chevron-right"></i>Architectural Design</a>
            <a href="#service-02" class="dropdown-link"><i class="bi bi-chevron-right"></i>Interior Design</a>
            <a href="#service-03" class="dropdown-link"><i class="bi bi-chevron-right"></i>Engineering Consultation</a>
            <a href="#service-04" class="dropdown-link"><i class="bi bi-chevron-right"></i>Bill of Quantities</a>
            <a href="#service-05" class="dropdown-link"><i class="bi bi-chevron-right"></i>Construction & Renovation</a>
            <a href="#service-06" class="dropdown-link"><i class="bi bi-chevron-right"></i>Project Management</a>
            <a href="#service-07" class="dropdown-link"><i class="bi bi-chevron-right"></i>EIA Services</a>
            <a href="#service-08" class="dropdown-link"><i class="bi bi-chevron-right"></i>Building Materials</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">PROJECTS</a>
        <div class="dropdown">
          <div class="dropdown-item">
            <a href="#portfolio" class="dropdown-link"><i class="bi bi-chevron-right"></i>Design Portfolio</a>
            <a href="/projects" class="dropdown-link"><i class="bi bi-chevron-right"></i>Ongoing Projects</a>
          </div>
        </div>
      </li>
      <li class="nav-item"><a href="/contact" class="nav-link">CONTACT</a></li>
    </ul>
  </div>
</header>