---
title: "5-Bedroom Mansion"
location: "Kiambu"
description: "Luxury mansion with modern finishes"
image: "/images/uploads/cm01.webp"
gallery:
  - "/assets/images/cm01-1.webp"
  - "/assets/images/cm01-2.webp"
status: "ongoing"
date: 2024-02-20
---